*{
    margin: 0px;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    width: 100%;
    height: auto;
}

#titulos-header{
    font-size: 18px;
    text-align: center;
}

#content-header{
    width: 100%;
    height: auto;
    background-color: grey;
}

#article-header{
    font-size: 18px;
    text-align: center;
}